<h3>Top POWER Heroes</h3>
<div class="grid grid-pad">
  
  <md-card class="example-card" *ngFor="let hero of heroes" class="col-1-4">
    <md-card-header>
      <div md-card-avatar  ><img md-card-image class="mat-card-avatar"[src]="hero.ico"></div>
      <md-card-title>{{hero.power}}</md-card-title>
      <md-card-subtitle>{{hero.name}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="hero.imagen">
    <md-card-content>
      
    </md-card-content>
    <md-card-actions>
      <a md-button [routerLink]="['/detail', hero.id]">Details</a>
    </md-card-actions>
  </md-card>
</div>